<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <div style="width:100%">
        <div style="width:33%">
            <h1>Rating Lookup</h1>
        </div>
        <div style="width:auto">
            <h1> {{name}} </h1></div>
        <div style="width:33%">
    
        </div>
    </div>
    
    

    <form action="http://127.0.0.1:5000/player" method="POST">
        <label for="uscf">USCF ID: </label>
        <input type="text" id="uscf" name="uscf" /><br></br>
        <input class="btn btn-primary" type="submit" value="Submit" />
    </form>
    
    <table id="ratingTable" class="table table-striped" style='visibility: collapse;'>
        <tr>
            <th>USCF ID</th>            
            <th>Regular Rating</th>
            <th>Quick Rating</th>
        </tr>        
        <tr>
            <!-- {% for key in data %}            
            <td>{{data[key]}}</td>
            {% endfor %} -->
            <td> {{uscf_id}} </td>
            <td> {{standard}} </td>
            <td> {{quick}} </td>
        </tr>
        
        <table id="tournamentTable" class="table table-striped" style='visibility: collapse;'>
            <tr>
                <th>Tournament ID</th>
                <th>Tournament Name</th>
                <th>Section</th>
                <th>Regular Rating</th>
                <th>Quick Rating</th>
            </tr>
            

            {% for key in tournament_data %}            
            <tr>
                {% for section in tournament_data[key] %}
                <td>{{tournament_data[key][section]}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

    </table>
    
    <a href="\" class="btn btn-danger">Return to Welcome</a>


   
    
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
        <script>

            rt = document.getElementById("ratingTable");
            tt = document.getElementById("tournamentTable")

            let rcount = rt.rows.length;
            let tcount = tt.rows.length;

            console.log(rcount);
            console.log(tcount);

            console.log(tt.rows[0])
            console.log(tt.rows[1])

            if(typeof tt.rows[1] != 'undefined'){
                rt.style.visibility = 'visible';
                tt.style.visibility = 'visible';
            }

        </script>
    

</body>



